#game {
  width:800px;
  height:600px;

  background-color:#a1bed0;

  position: relative;
}

.city, .launcher {
  background-color:#f1c527;

  width: 100px;
  text-align: center;

  position: absolute;
  bottom: 10px;
}

#city1 {
  left: 10px;
}
#city2 {
  left: 170px;
}
#launcher {
  right: 350px;
}
#city3 {
  right: 170px;
}
#city4 {
  right: 10px;
}
